/* Задача Нерабочие margin? */

.block {
  height: 150px;
  padding-top: 10%;
  padding-bottom: 10%;

  border: 1px solid #CCC;
  background: #eee;
}

.spacer {
  margin-left: 20%;
  margin-right: 20%;
  height: 80%;
  border: 1px solid black;
  background: #FFF;
}